* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.roni{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.elkbir{
    background-image: url(img/unknown.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.parent{
    background-color: rgba(70, 0, 0, 0.75);
    border-radius: 5%;
    padding: 85px;
}
.roni{
    background-color: rgba(253, 249, 249, 0);
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.roni2{
    padding-left: 125px;
    padding-right: 125px;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }

  @media only screen and (max-width: 600px) {
    .roni2{
        padding-left: 80px;
        padding-right: 80px;
    }
    .parent{
        background-color: rgba(70, 0, 0, 0.75);
        border-radius: 5%;
        padding: 65px;
    }
  }

/* 180+70= 250
250/2= 12
